/code/__pycache__/
/code/demo/__pycache__/
/code/reworked_data_model/__pycache__/
/code/exernal_test_data/__pycache__/
code/external_test_data/__pycache__/
code/.vs/
.vs/
/code/outcmaes/
*.log
code/reworked_data_model/changed_benchmarks/
*.pyc
code/reworked_data_model/results/~$benchmark_data_reformated.xlsx
*.fjs
*.zip
*.txt
*.csv
*.json
**/obj/
**/bin/
