/code/__pycache__/
/code/exernal_test_data/__pycache__/
code/external_test_data/__pycache__/
code/.vs/
.vs/ProjectSettings.json
.vs/scheduling_model/v17/.suo
.vs/slnx.sqlite
.vs/scheduling_model/project-colors.json
.vs/scheduling_model/v17/workspaceFileList.bin
.vs/VSWorkspaceState.json
