/code/__pycache__/
/code/demo/__pycache__/
/code/reworked_data_model/__pycache__/
/code/exernal_test_data/__pycache__/
code/external_test_data/__pycache__/
code/.vs/
.vs/
/code/outcmaes/
*.log
code/reworked_data_model/changed_benchmarks/
*.pyc
code/reworked_data_model/results/~$benchmark_data_reformated.xlsx
*.fjs
*.zip
*.txt
*.csv
*.json
**/obj/
**/bin/
/code/api_python/__pycache__
/code/api_python/tests/__pycache__
/code/api_python/build
/code/api_python/dist
/code/api_python/.eggs
/code/api_python/.pytest_cache
/code/api_python/benchmarkrewriter.egg-info
/code/api_python/tests/output
